<% comedians.each do |song| %>
<ul>
  <li><%= comedian.name %></li>
  <li><%= comedian.age %></li>
  <li><%= comedian.city %></li>
  <% if comedian.special %>
  <li><%= comedian.special.name %></li>
  <% end %>
</ul>
<% end %>
