<div id="comedian-form">
Do you want to be featuerd on LaughingStock as a comedian?</br>
Fill out the information below and click submit to see your info on our page!</br>
<form class="new-comedian" action="/comedians" method="post">
  <input type="text" name="comedian[name]" placeholder="Name">
  <input type="text" name="comedian[age]" placeholder="Age">
  <input type="text" name="comedian[city]" placeholder="Where are  from?">
  <input type="submit" value="Submit">
</form>
</div>
