body {
  margin: 0px;
}

header {
  background-color: #27194e;
    padding: 10px;
    border-b
}

#site_header {
    font-size: 30px;
    color: white;
    padding: 2px;
}

#site_one_liner {
  color: #e0c7c7;
  font-size: 20px;
}


.page {
  font-size: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: row;
  background-image: linear-gradient(left, #e5cdecbd 10%, #5829dc 100%), linear-gradient(left, #e5cdecbd 10%, #5829dc 100%);
  background-image: linear-gradient(to right, #e5cdecbd 10%, #36198a 100%), linear-gradient(to right,#e5cdecbd 10%, #5829dc 100%);
}

.stats {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(78, 52, 155, 0.42);
  margin: 10px;
  padding: 10px;
}

#about_title {
  font-size: 120%;
}

#stat_section {
  display: block;
}

.comedian_content{
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    background-color: rgba(38, 28, 74, 0);
}
#comedian_name {
  font-size: 120%;

}

#comedian_info{
  display: block;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}

.comedian_specials{
  display: block;
}

#individual_special {
  display: flex;
  flex-direction: row;
  font-size: 75%;
}

img {
  margin: 10px;
  width: 60px;
  height: 75px
}
