body {
  margin: 0px;
}

header {
  background-color: #353044eb;
    padding: 10px;
    border-b
}

#site_header {
    font-size: 30px;
    color: white;
    padding: 2px;
}

#site_one_liner {
  color: #e0c7c7;
  font-size: 20px;
}


.page {
  font-size: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: row;
  background-image: linear-gradient(left, #e5cdecbd 10%, #5829dcad 100%), linear-gradient(left, #e5cdecbd 10%, #5829dca6 100%);
  background-image: linear-gradient(to right, #e5cdecbd 10%, #36198a00 100%), linear-gradient(to right,#e5cdecbd 10%, #763979e0 100%);
}

.stats {
  display: flex;
  flex-direction: column;
  background-color: rgba(50, 46, 53, 0.22);
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}

#about_title {
  display: block;
  font: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 3px;
}

#stat_section {
  display: block;
  list-style: none;
  text-

}

.comedian_content{
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    background-color: rgba(38, 28, 74, 0);
}

#comedian_name {
  border-bottom: 1px solid;
  font-size: 120%;
  padding: 5px;
}

#comedian_info{
  display: block;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  font-size: 95%;
}

.comedian_specials{
  display: block;
}

#individual_special {
  display: flex;
  flex-direction: row;
  font-size: 75%;
}

img {
  margin: 10px;
  width: 60px;
  height: 75px
}
