<html>
<head>
  <title>LaughingStock</title>
  <link rel = "stylesheet" type = "text/css" href = "main.css" />
</head>
<body>
  <header>
    <div id=site_header>LaughingStock</div>
    <div id=site_one_liner>Your favorite comedians - all in one place!</div>
  </header>
<div id="yield_content">
  <%= yield %>
</div>
</body>
</html>
